header nav {
    width: 100%;
}
header nav ul.root {
    background: #1362a6;
    box-shadow: 0 4px 6px #ccc;
    border-radius: 5px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    max-width: 1200px;
}
header nav ul.root li {
    margin: 8px 16px 4px 16px;
    display: inline-flex;
}
header nav ul.root li a,
header nav ul.root li a:link,
header nav ul.root li a:visited {
    color: #fff;
    display: block;
    align-items: center;
    justify-content: center;
}
header nav ul.root li a .icon {
    font-size: 26px;
    margin: 0 auto;
}
header nav ul.root li a span {
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    white-space: nowrap;
}
header nav ul.root li a:after {
    display: block;
    height: 4px;
    content: " ";
    border-radius: 2px;
    background: #fff;
}
header nav ul.root li.actived a:after,
header nav ul.root li:hover a:after {
    background: #f7941e;
}
header nav ul.root li:hover .icon-category {
    color: #f7941e;
}
header nav ul.root li:hover .sub-container {
    display: block;
    visibility: visible;
    opacity: 1;
    width: 100%;
}
header nav .sub-container {
    position: absolute;
    left: 0;
    top: 55px;
    z-index: 199;
    padding-top: 15px;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 200ms, visibility 200ms;
    transition: opacity 200ms, visibility 200ms;
}
header nav .sub {
    background: #fff;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px #ccc;
    text-align: left;
    display: flex;
    justify-content: left;
}
header nav ul.root .sub h4,
header nav ul.root .sub h4 a,
header nav ul.root .sub h4 a:link,
header nav ul.root .sub h4 a:visited {
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
}
header nav ul.root .sub a:after {
    display: none;
}
header nav .sub .menu {
    margin: 0 40px 20px 0;
}
header nav .sub .menu:last-child {
    margin-left: 0;
    margin-right: 20px;
}
header nav .sub .menu:first-child {
    margin-left: 20px;
}
header nav .sub ul {
    background: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
header nav .sub ul li {
    margin: 0;
    padding: 0 0 5px 0;
    white-space: nowrap;
}
header nav .sub ul li a,
header nav .sub ul li a:link,
header nav .sub ul li a:visited {
    color: #333;
}
header nav .sub ul li a:hover {
    color: #009981;
}
header nav .sub ul li a:after {
    content: "";
    display: none;
}
header nav .sub .display-row {
    flex-direction: column;
}
header nav .sub .display-column {
    flex-direction: row;
    justify-content: flex-start;
}
header nav .sub .ads {
    padding-top: 20px;
}
header nav .sub .lists {
    flex-grow: 1;
}
header nav .sub ul.format_1 li {
    width: 100%;
}
header nav .sub ul.format_2 li {
    width: 50%;
}
header nav .sub ul.format_3 li {
    width: 33.3333%;
}
header nav .sub ul.format_4 li {
    width: 25%;
}
header nav .sub ul.format_5 li {
    width: 20%;
}
header nav .sub ul.format_6 li {
    width: 16.666%;
}
header nav .sub .g0,
header nav .sub .g1,
header nav .sub .g2,
header nav .sub .g3,
header nav .sub .g4,
header nav .sub .g5,
header nav .sub .g6 {
    flex-grow: 1;
}

.jssor-1200 {
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 1200px;
    height: 375px;
    overflow: hidden;
    visibility: hidden;
    padding-bottom: 70px;
}
.jssor-1200-container {
    cursor: default;
    position: relative;
    top: 0;
    left: 0;
    width: 1200px;
    height: 375px;
    overflow: hidden;
    border-radius: 10px;
}
.jssor-1200-thumbs {
    width: 1200px;
    height: 65px;
    padding-top: 15px;
    left: 0;
    bottom: 0;
    position: absolute;
}
.jssor-1200-thumbs .p {
    width: 300px;
    height: 65px;
    position: absolute;
    top: 0;
    left: 0;
}
.jssor-1200-thumbs .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.jssor-1200-thumbs .w,
.jssor-1200-thumbs .pav:hover .w {
    position: absolute;
    padding: 10px 15px;
    background: #f5f5f5 0% 0% no-repeat padding-box;
    box-shadow: 0 2px 6px #00000029;
    border-radius: 8px;
    top: 0;
    left: 0;
    font-weight: bold;
    color: #666;
    width: 265px;
    margin-top: 10px;
}
.jssor-1200-thumbs .pdn .w,
.jssor-1200-thumbs .pav .w,
.jssor-1200-thumbs .pav:hover .w {
    background: transparent linear-gradient(90deg, #009981 0%, #00483d 100%) 0%
        0% no-repeat;
    color: #fff;
    box-shadow: 0 2px 6px #00000029;
    padding: 20px 15px;
    margin-top: 0;
}
.jssor-1200-thumbs .p:hover .w,
.jssor-1200-thumbs .pav:hover .w {
    animation-name: zoom;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    box-shadow: 0 4px 6px #00000029;
}
.jssor-1200-thumbs .c {
    position: absolute;
    top: 0;
    left: 0;
}
.jssor-spin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}
.jssor-spin img {
    animation-name: jssor-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: -19px;
    position: relative;
    top: 50%;
    width: 38px;
    height: 38px;
}
@keyframes jssor-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.slider-arr {
    display: block;
    position: absolute;
    cursor: pointer;
    width: 46px;
    padding: 14px 0 15px 0;
    background: #c2c2c273;
    border-radius: 23px;
    text-align: center;
}
.slider-arr:hover {
    background: #e6e4e473;
}
.slider-arr i {
    color: #fff;
    font-size: 10px;
}
.slider-arr-l {
    top: 0;
    left: 30px;
}
.slider-arr-r {
    top: 0;
    right: 30px;
}
@media screen and (max-width: 1024px) {
    .left-info {
        display: none !important;
    }
    .mercado-panel > ul > li > a i {
        display: none !important;
    }
    .wrap-countdown {
        top: 41px !important;
        border-radius: 0 !important;
    }
    .wrap-show-advance-info-box.has-countdown .wrap-products {
        padding-top: 50px !important;
    }
}

/* @media screen and (min-width: 768px) and (max-width: 1024px) {
    .lts-product .item {
        width: 230px !important;
    }
}
@media screen and (max-width: 768px) {
    .lts-product .item {
        width: 48% !important;
    }
}
@media screen and (min-width: 450px) and (max-width: 590px) {
    .lts-product .item {
        width: 47% !important;
    }
}
@media screen and (max-width: 450px) {
    .lts-product .item {
        width: 100% !important;
    }
} */
.ilGfdX .heading {
    font-size: 19px;
    line-height: 21px;
    font-weight: 300;
    margin: 20px 0px 15px;
}

.ilGfdX .new a {
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    height: 60px;
    border: 1px dashed rgb(216, 216, 216);
    margin: 0px 0px 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.ilGfdX .new svg {
    color: rgb(120, 120, 120);
    font-size: 28px;
    margin: 0px 20px;
}
.ilGfdX .new svg {
    color: rgb(120, 120, 120);
    font-size: 28px;
    margin: 0px 20px;
}
.ilGfdX .item:last-child {
    margin: 0px;
}
.ilGfdX .item {
    background-color: rgb(255, 255, 255);
    padding: 17px;
    border-radius: 4px;
    margin: 0px 0px 10px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 13px;
    line-height: 19px;
}
.ilGfdX .item .name {
    text-transform: uppercase;
    margin: 0px 0px 10px;
}
.ilGfdX .item .name > span {
    font-size: 12px;
    margin: 0px 0px 0px 15px;
    display: inline-block;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(38, 188, 78);
    text-transform: none;
}
.ilGfdX .item .name > span svg {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
}
.ilGfdX .item .name > span span {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0px 5px;
}
.ilGfdX .item .address {
    margin: 0px 0px 5px;
}
.ilGfdX .item .address span {
    color: rgb(120, 120, 120);
}
.ilGfdX .item .phone span {
    color: rgb(120, 120, 120);
}
.ilGfdX .item .edit {
    font-size: 14px;
    color: rgb(27, 168, 255);
    display: inline-block;
    padding: 6px 12px;
}
.ilGfdX .item .edit:hover {
    color: rgb(239, 33, 33);
}
.fJeMaX .heading {
    font-size: 19px;
    line-height: 21px;
    font-weight: 300;
    margin: 20px 0px 15px;
}
.fJeMaX .inner {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    min-height: 400px;
    padding: 30px 20px;
}
.fJeMaX form {
    width: 600px;
}
.fJeMaX .form-control3 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 15px;
}
.fJeMaX .input-label {
    width: 110px;
    min-width: 110px;
    font-size: 13px;
    color: rgb(51, 51, 51);
}
.fJeMaX .form-control3 > div {
    display: flex;
    flex: 1 1 0%;
    position: relative;
    z-index: 1;
}
.fJeMaX .form-control3 input {
    flex: 1 1 0%;
}
.girQwT {
    transition: border-color 0.15s ease-in-out 0s,
        box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    height: 34px;
    padding: 6px 12px;
    line-height: 34px;
    outline: none;
}
.fJeMaX .form-control3 textarea {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    width: 100%;
    padding: 6px 12px;
}

.kpLnYz {
    display: flex;
    margin-right: 15px;
}
.kpLnYz input[type="radio"] {
    position: absolute;
    height: 1px;
    width: 1px;
    visibility: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    opacity: 0;
}
.kpLnYz .radio-fake {
    width: 24px;
    height: 24px;
    border: 1px solid rgb(147, 150, 157);
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 12px 10px 0px;
    position: relative;
    z-index: 1;
    color: rgb(120, 120, 120);
    flex-shrink: 0;
}
.kpLnYz .radio-fake::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    width: 14px;
    height: 14px;
    background-color: rgb(13, 92, 182);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
}
.kpLnYz .label2 {
    font-size: 13px;
    line-height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.kpLnYz {
    display: flex;
    margin-right: 15px;
}
.kpLnYz input[type="radio"] {
    position: absolute;
    height: 1px;
    width: 1px;
    visibility: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    opacity: 0;
}
.kpLnYz .radio-fake {
    width: 24px;
    height: 24px;
    border: 1px solid rgb(147, 150, 157);
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 12px 10px 0px;
    position: relative;
    z-index: 1;
    color: rgb(120, 120, 120);
    flex-shrink: 0;
}
.kpLnYz input[type="radio"]:checked + .radio-fake {
    border-color: rgb(13, 92, 182);
}
.etNXAi .checkbox-fake {
    width: 18px;
    height: 18px;
    border: 1px solid rgb(120, 120, 120);
    display: inline-block;
    vertical-align: middle;
    margin: 0px 12px 0px 0px;
    position: relative;
    z-index: 1;
    color: rgb(120, 120, 120);
}
.etNXAi input[type="checkbox"] {
    position: absolute;
    height: 1px;
    width: 1px;
    visibility: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    opacity: 0;
}
.etNXAi .label2 {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: justify;
}

.fJeMaX .btn-submit2 {
    border: 0px;
    width: 176px;
    height: 40px;
    border-radius: 4px;
    color: rgb(74, 74, 74);
    font-size: 14px;
    background-color: rgb(253, 216, 53);
    cursor: pointer;
}
.kpLnYz input[type="radio"]:checked + .radio-fake::before {
    transform: scale(1);
}
.etNXAi .checkbox-fake::before {
    content: "";
    display: block;
    position: absolute;
    left: 2px;
    top: 3px;
    width: 12px;
    height: 6px;
    border-left: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    transform: scale(0) rotate(-45deg);
    transition: transform 0.3s ease 0s;
}
.etNXAi {
    display: inline-block;
}
.etNXAi input[type="checkbox"]:checked + .checkbox-fake {
    border-color: rgb(27, 168, 255);
    background-color: rgb(27, 168, 255);
}
.etNXAi input[type="checkbox"]:checked + .checkbox-fake::before {
    transform: scale(1) rotate(-45deg);
}
@media screen and (max-width: 768px) {
    .fJeMaX form {
        width: 100%;
    }
}
.no-border {
    border: 0 !important;
}
body.no-scroll {
    height: 100%;
    overflow: hidden;
}
