.col-md-3 {
    padding-right: 0 !important;
}

.col-md-9 {
    padding-left: 5px !important;
}
@media screen and (max-width: 1200px) {
    .col-md-3 {
        display: none;
    }
    .col-md-9 {
        width: 100%;
    }
}
.dropdown-item {
    border-radius: 0;
    background: rgb(124, 119, 119);
    color: #fff;
    font-size: 20px;
    margin-top: 0;
}

.hero__categories {
    position: relative;
    margin-top: 9px;
}
.hero__categories ul {
    display: none;
    position: absolute;
    left: 0;
    top: 46px;
    width: 100%;
    z-index: 9;
    background: #ffffff;
    height: 484px;
}

.hero__categories__all {
    background: #444444;
    position: relative;
    padding: 10px 25px 10px 40px;
    cursor: pointer;
}

.hero__categories__all i {
    font-size: 16px;
    color: #ffffff;
    margin-right: 10px;
}

.hero__categories__all span {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.hero__categories__all:after {
    position: absolute;
    right: 18px;
    top: 9px;
    content: "";
    font-family: "ElegantIcons";
    font-size: 18px;
    color: #ffffff;
}

.hero__categories ul {
    border: 1px solid #ebebeb;
    padding-left: 40px;
    /* padding-top: 10px;*/
    padding-bottom: 12px;
}

.hero__categories ul li {
    list-style: none;
}
.hero__categories ul li img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-right: 0px;
}
.hero__categories ul li :hover {
    background-color: #ff2832;
    color: #fff;
}

.hero__categories ul li a {
    width: 34px;
    height: 33px;
    object-fit: contain;
    margin-right: 15px;
}

/*account*/

.wrapper {
    display: flex;
    width: 100%;
    margin: 0px auto 20px;
    flex-wrap: wrap;
}
.wrapper-aside {
    width: 300px;
    margin-right: 17px;
}
.account-info {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 7px;
    margin: 0px 0px 12px;
}
.account-info img {
    width: 45px;
    margin: 0px 12px 0px 0px;
    border-radius: 50%;
}
.info {
    flex: 1 1 0%;
    font-size: 13px;
    line-height: 15px;
    color: rgb(51, 51, 51);
    font-weight: 300;
}
.info strong {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    display: block;
    margin: 4px 0px 0px;
}
.list-action {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 15px;
}

.list-action a {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 7px 18px;
    color: rgb(74, 74, 74);
}
.list-action li a span i {
    width: 24px;
    height: 24px;
    margin: 0px 22px 0px 0px;
    font-size: 24px;
    color: rgb(155, 155, 155);
}
.list-action li a:hover i {
    color: #ff2832;
}
.list-action a:hover {
    background-color: rgb(235, 235, 240);
    border-radius: 44px;
    color: rgb(0, 0, 0);
}

.list-action a .badge {
    border-radius: 10px;
    background-color: rgb(255, 59, 38);
    display: inline-block;
    padding: 2px 6px;
    font-size: 11px;
    color: rgb(255, 255, 255);
    margin-left: 5px;
}

.is-active {
    background-color: rgb(235, 235, 240);
    color: rgb(0, 0, 0);
    border-radius: 44px;
}

/*account infomation*/

.infomation {
    flex: 1 1 0%;
}

.info-v2 {
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}
.infomation-wrapper {
}
.account-info {
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    margin: 4px 0px 12px;
}
.info-content {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    margin-top: 16px;
}
.info-left {
    width: 553px;
    padding: 16px 24px 16px 16px;
}

.info-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(100, 100, 109);
    margin-bottom: 8px;
    display: block;
    border-radius: 50px;
    text-align: center;
    line-height: 34px;
    color: #583333;
}
.form-info {
    display: flex;
    flex-direction: row;
}
.form-avatar {
    margin-right: 16px;
}
.avatar {
    background-color: rgb(240, 248, 255);
    border-radius: 50%;
    width: 112px;
    height: 112px;
    border: 4px solid rgb(194, 225, 255);
    position: relative;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.avatar-view {
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.avatar-view .default {
    width: 50px;
    height: 50px;
}
.form-name {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
}
.input-label {
    width: 110px;
    min-width: 110px;
    font-size: 14px;
    color: rgb(51, 51, 51);
    margin-right: 16px;
}
.form-control2 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 34px;
}
.form-control2 div {
    display: block;
    /* flex: 1 1 0%; */
    position: relative;
    z-index: 1;
}
.form-group2 {
    width: 100%;
}
.form-group2 input {
    transition: border-color 0.15s ease-in-out 0s,
        box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    height: 36px;
    width: 100%;
    border-radius: 4px;
    padding: 10px 12px;
    line-height: 20px;
    outline: none;
    flex: 1 1 0%;
    border: 1px solid rgb(196, 196, 207);
}

.btn-submit {
    border: 0px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    background-color: rgb(11, 116, 229);
    cursor: pointer;
}
.btn-submit:hover {
    opacity: 0.8;
}
.info-vertical {
    border-left: 1px solid rgb(235, 235, 240);
    margin: 16px 0px;
}
.info-right {
    width: calc(100% - 553px);
    padding: 16px 16px 16px 24px;
    display: flex;
    flex-direction: column;
}
.info-list {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    margin-bottom: 16px;
}
.list-item {
    border-top: 1px solid rgb(248, 248, 248);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 19px 0px;
}
.list-item:first-child {
    border: none;
}
.info-list .info {
    display: flex;
}
.info-list .icon {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
    font-size: 24px;
    color: #ff2832;
}

.info-list .detail {
    display: flex;
    flex-direction: column;
}

.list-item span {
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0px 0px 6px;
    color: rgb(56, 56, 61);
}
.list-item .status {
    color: rgb(27, 168, 255);
    flex: 1 1 0%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
}
.list-item .status span {
    cursor: pointer;
}

.list-item button.active {
    border: 1px solid rgb(11, 116, 229);
    background-color: rgb(255, 255, 255);
}
.list-item button {
    border: 0px;
    height: 28px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    padding: 0px 12px;
    color: rgb(11, 116, 229);
}
.list-item button:hover {
    background-color: green;
    color: white;
}
.btn-change {
    margin: 10px 0px 10px;
    outline: none;
    border-radius: 4px;
    background: rgb(255, 66, 78);
    padding: 13px 0px;
    width: 100%;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .info-left {
        width: 100%;
    }
    .info-right {
        width: 100%;
    }
    .wrapper-aside {
        width: 100%;
    }
}
@media screen and (max-width: 992px) {
    .info-v2 {
        display: block;
    }
    .info-left {
        width: 100%;
    }
    .info-right {
        width: 100%;
    }
    .form-info {
        flex-direction: column;
        align-items: center;
    }
    .form-avatar {
        margin-right: 0px;
        margin-bottom: 16px;
    }

    .wrapper-aside {
        width: 100%;
    }
}
.khong-cach {
    margin-top: 0 !important;
}

.card {
    border-radius: 23px;
    border: none;
    box-shadow: none;
    background-color: #eee;
    border-top: 1px solid #e5e5e5;
    padding: 16px;
    margin-bottom: 0px;
}

#button-search-top {
    box-shadow: 0 4px 6px #ccc;
    background: #763804;
    background-image: linear-gradient(#62330b, #e47415);
    border: none;
    border-radius: 17px;
    outline: none;
    font-size: 17px;
    color: #fff;
}

#btnCheckOrder {
    display: block;
    background: #763804;
    border-radius: 10px;
    padding: 6px 8px;
    box-shadow: 0 4px 6px #ccc;
    color: #fff;
    border: none;
    font-size: 13px;
    width: 128px;
    position: relative;
}
#btnCheckOrder .icon {
    font-size: 30px;
    position: absolute;
    top: 3px;
    left: 7px;
}
#btnCheckOrder:hover {
    background: #7ee30a;
    background-image: linear-gradient(#00917a, #00483d);
}

#btnCheckOrder .text {
    text-align: left;
    display: block;
    margin-left: 40px;
}

.cart-cart:hover i {
    color: #f70d8a !important;
}

.nav {
    width: 100%;
}

.container3 {
    min-width: 1170px;
    width: 1170px;
    margin: 0 auto;
}

.root {
    background: #00483d;
    box-shadow: 0 4px 6px #ccc;
    border-radius: 5px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    max-width: 1170px;
}

.root li {
    margin: 8px 16px 4px 16px;
    display: inline-flex;
}
.root li a .icon {
    font-size: 26px;
    margin: 0 auto;
}
.root li a .icon::before {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.root li a::after {
    display: block;
    height: 4px;
    content: " ";
    border-radius: 2px;
    background: #00483d;
}
.root li a span {
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    white-space: nowrap;
}
.root li a:visited {
    color: #fff;
    display: block;
    align-items: center;
    justify-content: center;
}
.sub-container {
    position: absolute;
    left: 0;
    top: 55px;
    z-index: 199;
    padding-top: 15px;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 200ms, visibility 200ms;
    transition: opacity 200ms, visibility 200ms;
}
.sub {
    background: #fff;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px #ccc;
    text-align: left;
    display: flex;
    justify-content: left;
}

/* hover */
.product-info .product-name:hover span {
    color: #009981 !important;
}

/*title*/
.title1 {
    font-family: inherit;
    font-size: 16px;
    color: #ffffff;
    background: #00483d;
    margin: 10px 0;
    width: 290px;
}

#wrap-text {
    width: 100% !important;
    height: 100% !important;
    display: inline-block;
    padding: 5px 0;
    margin-left: 70px;
    background: white;
}
#wrap-text a {
    color: inherit !important;
}
#text {
    border-radius: initial !important;
}
/* .title1::after {
    content: " ";
    border-top: 30px solid #ffffff;
    border-left: 30px solid #e95d25 !important;
    position: absolute;
    z-index: 1;
    margin-left: 40px;
    top: 10px;
} */
.header-title {
    background: #009981;
    margin-bottom: 20px;
    display: inline-block;
    height: 30px;
    overflow: hidden;
}

.header-title h3 {
    padding: 6px 60px 6px 35px;
    margin: 0 0 0 60px;
    background: #00483d;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.header-title h3 a {
    color: #fff;
}

.header-title::after {
    content: " ";
    border-top: 30px solid #00483d;
    border-left: 30px solid #009981;
    margin-left: 45px;
}

.lts-product {
    display: flex;
    animation: append 0.2s ease-in-out;
    flex-wrap: wrap;
}

.lts-product .item {
    margin: 0 10px 10px 0;
    width: calc(1 / 5 * 100% - (1 - 1 / 5) * 13px);
    /* width: 224px; */
    background: #fff;
    box-shadow: 0 4px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    position: relative;
}
.lts-product .item .img {
    width: 200px;
    margin: 20px auto 0 auto;
}
.lts-product .item .img img {
    width: 100%;
}

.lts-product .item .info {
    margin-top: 14px;
    padding: 0 10px 15px 10px;
    margin-bottom: 19px;
}
.lts-product .item .info a {
    color: #000;
    font-weight: bold;
    display: block;
}
.lts-product .item .info a:hover {
    color: #009981;
}
.lts-product .item .info .price {
    display: block;
    clear: both;
}
.lts-product .item .info .price strong {
    font-size: 16px;
    color: #fd475a;
}
.lts-product .item .sales {
    position: absolute;
    top: 202px;
    left: 16%;
    background: #ff6801;
    border-radius: 40px;
    width: 70%;
    padding: 3px 5px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}
.lts-product .item .sales i {
    font-size: 13px;
}
.lts-product .item .cover {
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0px;
}
section .box-home {
    margin: 20px 0;
}

section .box-home .header {
    background: #009981;
    margin-bottom: 20px;
    display: inline-block;
    height: 30px;
    overflow: hidden;
}
section .box-home .header h4 {
    padding: 8px 60px 6px 35px;
    margin: 0 0 0 60px;
    background: #00483d;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
section .box-home .header:after {
    content: " ";
    border-top: 30px solid #00483d;
    border-left: 30px solid #009981;
    margin-left: 40px;
}
section .news-home .col-content {
    display: flex;
    flex-flow: wrap;
}
section .news-home .item {
    margin: 0 20px 10px 0;
    width: calc(1 / 3 * 100% - (1 - 1 / 3) * 30px);
    background: #fff;
    box-shadow: 0 4px 6px #00000029;
    border-radius: 8px;
    display: flex;
}
section .news-home .item .img {
    width: 120px;
}
section .news-home .item .img img {
    width: 100px;
    margin: 10px;
}
section .news-home .item p {
    text-align: justify;
    margin: 10px 10px 12px 22px;
    line-height: 1.4;
}
section .news-home .item p:hover a {
    color: #009981 !important;
}
section .news-home .item p a,
section .news-home .item p a:link,
section .news-home .item p a:visited {
    color: #333;
    font-weight: bold;
}
.lts-product .item .promote {
    border-radius: 5px;
    background-image: linear-gradient(rgb(0, 145, 122), rgb(7, 151, 128));
    padding: 2px;
    box-shadow: rgb(0 0 0 / 16%) 0px 4px 6px;
    margin: 3px;
    position: absolute;
    top: 35px;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease 0s, visibility 200ms ease 0s;
    color: rgb(51, 51, 51);
}
.lts-product .item .promote a {
    color: rgb(34, 34, 34);
}
.lts-product .item .promote ul {
    list-style: none;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    margin: 0px;
    padding: 10px 10px 5px;
    text-align: left;
}
.lts-product .item .promote ul li {
    padding-bottom: 5px;
    font-size: 11px;
}
.lts-product .item .bag {
    display: inline-block;
    background: 0% 0% no-repeat padding-box padding-box rgb(247, 148, 30);
    box-shadow: rgb(0 0 0 / 16%) 0px 4px 6px;
    border-radius: 3px;
    padding: 3px 5px;
    color: rgb(255, 255, 255);
    font-size: 11px;
}
.lts-product .item:hover .promote {
    display: block;
    visibility: visible;
    opacity: 0.9;
    animation: 1s ease 0s 1 normal none running fade;
}

/* //category */
.top-category-ads {
    margin: 10px 0 0 0;
}
.top-category-ads .ads-container {
    display: flex;
}
.top-category-ads .item:last-child {
    margin-right: 0;
}
.top-category-ads .full {
    width: 100%;
}
.top-category-ads .item a:last-child img {
    margin: 0;
}
.lst-quickfilter.q-manu {
    width: 100%;
}
.lst-quickfilter {
    display: flex;
    flex-wrap: wrap;
}
.box-quicklink__item.bd-radius {
    border-radius: 52px;
}
.box-quicklink__item {
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #333;
    display: flex;
    font-size: 14px;
    line-height: 13px;
    margin-right: 8px;
    margin-bottom: 10px;
    min-height: 36px;
    max-height: 36px;
    padding: 6px 13px;
    vertical-align: top;
    background-color: #fff;
}
.box-quicklink__item img.no-text {
    margin-right: 0;
}
.box-quicklink__item img {
    vertical-align: middle;
    width: auto;
    height: 20px;
    margin-right: 5px;
}
#quick {
    margin-top: 10px;
}
.box-quicklink__item:hover {
    border-color: #00917a;
}
.box-quicklink__item.quicklink-logo:hover {
    color: #2f80ed;
}
/* filter */
.product-filters2 {
    position: relative;
    display: flex;
}
.product-filters2 {
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 14px;
}
.product-filters2 .left,
.product-filters2 .right {
    display: flex;
    justify-items: right;
    justify-content: right;
    width: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}
.product-filters2 .left {
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 2;
}

.product-filters2 strong.label {
    display: inline-block;
    color: #00917a;
    padding: 15px 20px;
    font-size: 13px;
    font-weight: bold;
    line-height: inherit;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}
.product-filters2 .facet {
    display: block;
    padding: 15px 10px;
    margin-right: 20px;
}
.product-filters2 .facet label {
    display: flex;
}
.product-filters2 .facet i.icon-rightar::before {
    font-size: 8px;
    transform: rotate(90deg);
}
.product-filters2 .facet .sub2 {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 123;
    left: 0;
    top: 56px;
}
.product-filters2 .facet .sub2 ul {
    background: #fff;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 14px;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 5px 10px;
    grid-column-gap: 10px;
}
.product-filters2 .facet .sub2 ul li {
    list-style: none;
    padding: 5px;
}
.product-filters2 .facet ul li a {
    display: flex;
}
.product-filters2 .facet:hover .sub2 {
    display: block;
}

.product-filters2-mobile {
    padding: 0 10px;
    font-size: 12px;
}
.product-filters2-mobile h3 {
    padding: 0;
    margin: 0 0 10px 0;
}
.product-filters2-mobile .facet {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 8px;
}
.product-filters2-mobile .facet label {
    padding: 5px 0;
    color: #888;
    font-weight: bold;
}
.product-filters2-mobile .facet select {
    border: 1px solid #009981;
    color: #009981;
    padding: 4px 8px;
}
@media screen and (max-width: 768px) {
    #filter-laptop {
        display: none;
    }
    .product-filters2-mobile {
        display: block;
    }
}
@media screen and (min-width: 768px) {
    #filter-laptop {
        display: block;
    }
    .product-filters2-mobile {
        display: none;
    }
}
.sticker-left {
    left: 5px;
    text-align: left;
}
.sticker {
    position: absolute;
    top: -4px;
    display: flex;
    flex-direction: column;
}
.sticker span {
    display: block;
}
